/proteingym
/sets/*
/sets_cached/*
/wyatt/**
/oas/**
/naive_oas/**
/uniref/**
/flab/*
/dasm/*
/tr_rosetta/*
/tr_rosetta_15k_aligned/*
*.txt
*.csv
*.csv.gz
*.pdf
*.zip

# symlinks
link.sh
sets
sets_cached
uniref50
dasm
wyatt
oas
naive_oas
flab
tr_rosetta
tr_rosetta_15k_aligned
lept
